/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dashedblack: 2px dashed black
}


/* HEADER */

.top-header {
  height: 50px;
  
  /* debug */
  background-color: #ADD8E6;
}

.nav-bar {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav-item {
  padding: 5px;
  
  /* debug */
  background-color: #DAA520;
  border: var(--dashedblack)
}

.nav-logo {
  flex-grow: 1;
}

.nav-link {
  flex-grow: 3;
  text-align: center;
}

.nav-login {
  flex-grow: 1;
  text-align: right;
}

.bottom-header {
  height: 350px;
  display: flex;
  align-items: center;

  /* debug */
  background-color: #00008B;
}

.header-content {
  height: 80%;
  width: 50%;
  margin: 0 auto;

  /* debug */
  background-color: #EE82EE;
  border: var(--dashedblack);
}


/* MAIN */

.main-content {
  height: 400px;
  display: flex;
  align-items: center;
}


.white-section {
  background-color: white;
}

.grey-section {
  background-color: #D3D3D3;
}

.main-container {
  height: 80%;
  width: 70%;
  margin: 0 auto;
  display: flex;
} 

.left-content {
  width: 60%;
  height: 100%;

  /* debug */
  background-color: #1E90FF;
  border: var(--dashedblack);
}

.right-content {
  width: 40%;
  height: 100%;

  /* debug */
  background-color: #FFC0CB;
  border: var(--dashedblack);
}

.bottom-main {
  height: 700px;
  display: flex;
  align-items: center;
}

.bottom-main-content {
  width: 70%;
  height: 90%;
  margin: 0 auto;

  /*debug*/
  background-color: #228B22;
  border: var(--dashedblack)
}


/* FOOTER */

footer {
  height: 500px;

  /* debug */
  background-color: #23272A;
}

.top-footer {
  height: 85%;
  padding-top: 5px;
  border-bottom: 1px solid white;
}

.top-footer-container {
  display: flex;
  width: 70%;
  height: 93%;
  margin: 0 auto;

  /* debug */
  border: var(--dashedblack);
}

.left-footer-content {
  width: 30%;
  height: 100%;

  /* debug */
  background-color: #F08080;
  border: var(--dashedblack);
}

.right-footer-container {
  display: flex ;
  width: 70%;
  height: 100%;
}

.right-footer-content {
  width: 25%;
  height: 100%;

  /* debug */
  background-color: #20B2AA;
  border: 2px dashed white;
}

.bottom-footer {
  height: 15%;
  align-items: flex-end;
  display: flex;
  border-bottom: 1px solid white;
}

.bottom-footer-container {
  height: 80%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* debug */
  background-color: #7FFFD4;
}

.bottom-footer-content {
  padding: 3px;

/* debug */
background-color: #FFB6C1;
border: var(--dashedblack);
}